body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
}
.heading{
    display: flex;
    justify-content: space-between;
    background-color: #008DDA;
    color: white;
    padding: 10px;
    
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    
}

#name>a{
    margin-right: 10px;
}
#address{
    margin-top: 15px;
}

li{
    margin-bottom: 10px;
}